src/main/webapp/WEB-INF/schemas/inbound/airkiosk-hub.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" targetNamespace="http://www.ikiosksng.com/air-kiosk/hub"
	xmlns:api="http://www.ikiosksng.com/air-kiosk/hub">

	<xs:complexType name="base-response" abstract="true">
		<xs:sequence>
			<xs:element name="error" type="api:errorOrWarning"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="warning" type="api:errorOrWarning"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="success" type="xs:boolean" default="true" />
	</xs:complexType>
	<xs:complexType name="base-request" abstract="true">
		<xs:sequence>
			<xs:element name="deviceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="deviceKey" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="base-request-req-auth" abstract="true">
		<xs:complexContent>
			<xs:extension base="api:base-request">
				<xs:sequence>
					<xs:element name="sessionId" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="errorOrWarning">
		<xs:all>
			<xs:element name="message" type="xs:string" />
			<xs:element name="description" type="xs:string" />
		</xs:all>
		<xs:attribute name="code" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="airport">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="city" type="api:city-ref" />
			<xs:element name="connectedTo" maxOccurs="unbounded" type="api:airport-ref" />
		</xs:sequence>
		<xs:attribute name="code" use="required" type="xs:NCName" />
	</xs:complexType>

	<xs:complexType name="airport-ref">
		<xs:attribute name="code" use="required" type="xs:NCName" />
	</xs:complexType>

	<xs:simpleType name="fareType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ECONOMY" />
			<xs:enumeration value="FIRST" />
			<xs:enumeration value="BUSINESS" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="airline">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="code" use="required" type="xs:NMTOKEN" />
	</xs:complexType>

	<xs:complexType name="airline-ref">
		<xs:attribute name="code" use="required" type="xs:NMTOKEN" />
	</xs:complexType>


	<xs:complexType name="city-ref">
		<xs:attribute name="code" use="required" type="xs:NCName" />
	</xs:complexType>

	<xs:complexType name="available-flight">
		<xs:sequence>
			<xs:element name="from" type="api:airport-ref" />
			<xs:element name="to" type="api:airport-ref" />
			<xs:element name="departure" type="xs:dateTime" />
			<xs:element name="arrival" type="xs:dateTime" />
			<xs:element name="stop" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="at" type="api:airport-ref" />
						<xs:element name="arrival" type="xs:dateTime" />
						<xs:element name="departure" type="xs:dateTime" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="availability" type="xs:int" />
			<xs:element name="fare" minOccurs="1" maxOccurs="unbounded"
				type="api:fare" />
			<xs:element name="class_code" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="code" use="required" type="xs:NMTOKEN" />
		
	</xs:complexType>

	<xs:complexType name="fare">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="currency" use="required" type="xs:NCName" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="airlines-list-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="airlines-list-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="airline" maxOccurs="unbounded" type="api:airline" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="airports-list-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="airports-list-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="airport" type="api:airport"
							maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="availability-search-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request">
					<xs:sequence>
						<xs:element name="from" type="api:airport-ref" />
						<xs:element name="to" type="api:airport-ref" />
						<xs:element name="dateOfJourney" type="xs:date" />
						<xs:element name="fareType" type="api:fareType" />
						<xs:element name="seatsRequired">
							<xs:complexType>
								<xs:attribute name="adults" use="required" type="xs:int" />
								<xs:attribute name="children" use="required" type="xs:int" />
								<xs:attribute name="infants" use="optional" type="xs:int"
									default="0" />
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="roundTrip" type="xs:boolean" />
						<xs:element minOccurs="0" name="returnDate" type="xs:date" />
						<xs:element name="airline" minOccurs="0" maxOccurs="unbounded"
							type="api:airline-ref" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="availability-search-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="outbound" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="available-flight" maxOccurs="unbounded"
										type="api:available-flight" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="inbound" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="available-flight" maxOccurs="unbounded"
										type="api:available-flight" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="valid-till" type="xs:dateTime"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="flight-ref">
		<xs:attribute name="code" type="xs:string" />
	</xs:complexType>

	<xs:simpleType name="gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="male" />
			<xs:enumeration value="female" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="age-type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="infant" />
			<xs:enumeration value="child" />
			<xs:enumeration value="adult" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="person-name">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="middleName" type="xs:string" minOccurs="0" />
			<xs:element name="lastName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="passenger-detail">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="gender" type="api:gender" />
			<xs:element name="name" type="api:person-name" />
			<xs:element name="age" type="xs:short" />
			<xs:element name="ageType" type="api:age-type" />
			<xs:element name="email" type="xs:string" />
			<xs:element name="phone" type="xs:string" />
			<xs:element name="dob" type="xs:date" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="identity-proof">
		<xs:sequence>
			<xs:element name="document-type" type="xs:string" />
			<xs:element name="document-number" type="xs:string" />
			<xs:element name="issue-date" type="xs:date" />
			<xs:element name="expiry-date" type="xs:date" />
			<xs:element name="issue-country" type="xs:string" />
			<xs:element name="nationality" type="xs:string" />
			<xs:element name="dob" type="xs:date" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="itinerary">
		<xs:sequence>
			<xs:element name="flight" type="api:flight-ref" />
			<xs:element name="from" type="api:airport-ref" />
			<xs:element name="to" type="api:airport-ref" />
			<xs:element name="dateOfJourney" type="xs:dateTime" />
			<xs:element name="departureTime" type="xs:string"/>
			<xs:element name="classCode" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<xs:element name="reserve-ticket-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request-req-auth">
					<xs:sequence>
						<xs:element name="currency" type="xs:string"></xs:element>
						<xs:element name="passenger" type="api:passenger-detail"
							minOccurs="1" maxOccurs="unbounded" />
						<xs:element name="main" type="api:itinerary" />
						<xs:element name="roundTrip" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
						<xs:element name="return" type="api:itinerary"
							minOccurs="0" maxOccurs="1" />
						<xs:element name="identity-proof" type="api:identity-proof" minOccurs="0"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="group-fare">
	 <xs:attribute name="fare" type="xs:double"/>
	 <xs:attribute name="count" type="xs:integer"/>
                </xs:complexType>
	<xs:element name="book-on-hold-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="fare-matrix" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bohFees" type="xs:string"/>
              <xs:element name="adult" type="api:group-fare" minOccurs="1" maxOccurs="1"/>
              <xs:element name="child" type="api:group-fare" minOccurs="1" maxOccurs="1"/>
              <xs:element name="infant" type="api:group-fare"  minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="flights" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flight" minOccurs="1" maxOccurs="2">
                <xs:complexType>
                  <xs:attribute name="from" type="xs:string" />
                  <xs:attribute name="to" type="xs:string" />
                  <xs:attribute name="Date" type="xs:string" />
                  <xs:attribute name="SDT" type="xs:string" />
                  <xs:attribute name="SAT" type="xs:string" />
                  <xs:attribute name="Fcode" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="PNR" type="xs:string" />
      <xs:attribute name="ATMRef" type="xs:string" />
      <xs:attribute name="Name" type="xs:string" />
      <xs:attribute name="email" type="xs:string" />
    </xs:complexType>
 	 </xs:element>
 	 
 	 <xs:element name="book-on-hold-response">
	 	 <xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string"/>
			</xs:sequence>	 	 
	 	 </xs:complexType>
 	 </xs:element>

	<xs:element name="reserve-ticket-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="reservation-code" type="xs:string"/>
						<xs:element name="boh-details" type="api:boh-details"/>
						<xs:element name="cost">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="base-fare" type="api:fare" />
									<xs:element name="tax" type="api:fare" />
									<xs:element name="total" type="api:fare" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="valid-till" type="xs:dateTime" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="boh-details">
			<xs:sequence>
				<xs:element name="atm-reference" type="xs:string"/>
				<xs:element name="boh-charge" type="api:fare"/>
			</xs:sequence>
			<xs:attribute name="available" type="xs:boolean" default="true"/>
			<xs:attribute name="hours-to-go" type="xs:long"/>
	</xs:complexType>
	<xs:complexType name="payment-details">
		<xs:sequence>
			<xs:element name="currency" type="xs:string" />
			<xs:element name="cardFee" type="xs:string" />
			<xs:element name="serviceFee" type="xs:string" />
			<xs:element name="ccNumber" type="xs:string" />
			<xs:element name="ccType" type="xs:string" />
			<xs:element name="expiryYear" type="xs:int" />
			<xs:element name="expiryMonth" type="xs:int" />
			<xs:element name="pin" type="xs:int" />
			<xs:element name="nameOnCard" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="user-details">
		<xs:sequence>
			<xs:element name="eMail" type="xs:string" />
			<xs:element name="billingAddress1" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="billingAddress2" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingCity" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingZip" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingState" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="billingCountry" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="confirm-ticket-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request-req-auth">
					<xs:sequence>
						<xs:element name="reservation-code" type="xs:string" />
						<xs:element name="formOfPayment" type="xs:string" />
						<xs:element name="payAmount" type="xs:string" />
						<xs:element name="currency" type="xs:string" />
						<xs:element name="payment-details" type="api:payment-details" />
						<xs:element name="CCEmail" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="confirm-ticket-byvoucher-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request">
					<xs:sequence>
						<xs:element name="reservation-code" type="xs:string" />
						<xs:element name="payAmount" type="xs:string" />
						<xs:element name="voucher" type="api:voucher" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>	
	</xs:element>
	
	<xs:complexType name="voucher">
		<xs:attribute name="number"/>
		<xs:attribute name="pin"/>
	</xs:complexType>
	<xs:complexType name="booked-itinerary">
		<xs:complexContent>
			<xs:extension base="api:itinerary">
				<xs:sequence>
					<xs:element name="pnr" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="pnr-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request-req-auth">
					<xs:sequence>
						<xs:element name="pnr" type="xs:string" />
						<xs:element name="lastName" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="pnr-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="pnr" type="xs:string" />
						<xs:element name="ticket" type="api:ticket" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ticket">
		<xs:sequence>
			<xs:element name="ticket-number" type="xs:string" />
			<xs:element name="passenger" type="api:passenger-detail"
				minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="main" type="api:booked-itinerary" />
			<xs:element name="return" type="api:booked-itinerary"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="confirm-ticket-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="succeeded" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
						<xs:element name="ticket" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ticket-details-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request-req-auth">
					<xs:sequence>
						<xs:element name="ticket-number" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="ticket-details-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="ticket" type="api:ticket" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="login-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request">
					<xs:sequence>
						<xs:element name="user-name" type="xs:string" />
						<xs:element name="password" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="login-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="logout-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="logout-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="register-user-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request">
					<xs:sequence>
						<xs:element name="user-name" type="xs:string" />
						<xs:element name="password" type="xs:string" />
						<xs:element name="email" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="register-user-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
					<xs:sequence>
						<xs:element name="sessionId" type="xs:string" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="phone-number">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="contry-code" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="contact-details">
		<xs:sequence>
			<xs:element name="first-name" type="xs:string" />
			<xs:element name="last-name" type="xs:string" />
			<xs:element name="address-line1" type="xs:string" />
			<xs:element name="address-line2" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="post-code" type="xs:string" />
			<xs:element name="country" type="xs:string" />
			<xs:element name="mobile" type="api:phone-number" />
			<xs:element name="land-line" type="api:phone-number" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="update-profile-request">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-request-req-auth">
					<xs:sequence>
						<xs:element name="contact-details" type="api:contact-details" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="update-profile-response">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="api:base-response">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

</xs:schema>
